= render partial: 'devise/shared/side-container'

.messages-container
  .messages-header
    .messages-header__group-name
      = @group.name
    =link_to "Edit!!", edit_group_path(@group), class: "messages-header__btn", data: {turbolinks: false}
    .messages-header__member-name
      Member：
      - @group.users.each do |user|
        =user.name
  .messages-box
    = render partial: @messages
  = render partial: "./devise/shared/post-box"