$blue: #38AEF0;
$white: #ffffff;
$light-gray:#999999;
$gray:#434A54;
$black:#000000;

$left-width:300px;
$right-width:calc(100vw - 300px);

@mixin main-contents-parts() {
    padding-top:24px;
    height: 100vh;
    box-sizing: border-box;
}

@mixin header-parts() {
  height: 100px;
  box-sizing: border-box;
}

@mixin messages-fixed-parts() {
  position: fixed;
  width: $right-width;
}